<ul>
	@for (apartment of apartments | sortApartments; track apartment.id) {
		<app-apartment-item
			[apartment]="apartment"
			(launchBookingPage)="launchBookingPage.emit(apartment.id)"
			(update)="updateItem.emit([apartment.id, $event])"
			(edit)="editItem.emit({id: apartment.id, name: apartment.name})"
			(delete)="deleteItem.emit({id: apartment.id})">
		</app-apartment-item>
	} @empty {
		<h2>No apartments found.</h2>
		<!-- //TODO add a a component to display dynamic message. This smart component will get value from search tearm -->
	}
</ul>
