<mat-card>
  <mat-card-content [ngStyle]="{ display: 'flex' }">
    <mat-card-title-group>
      <mat-card-title>{{ apartment.name }}</mat-card-title>
      <mat-card-subtitle>{{ apartment.id }}</mat-card-subtitle>
    </mat-card-title-group>

    <div class="card__content__ratings">
      <ng-container *ngIf="!loading(); else loadingRatingAverage">
        <span class="card__content__ratings__current">{{
          apartment.reviewsRatingAverage | bookingRoundNumber
        }}</span>
        <div class="card__content__ratings__target">
          <mat-icon [ngStyle]="{ color: 'green' }">trending_up</mat-icon>
          <span>{{ reviewsCountToNextTarget }}</span>
        </div>
      </ng-container>
    </div>

    <button (click)="navigateToUrl()" class="small-icon-button" mat-icon-button>
      <mat-icon>launch</mat-icon>
    </button>
    <button
      class="small-icon-button"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon button with a vertical three dot icon">
      <mat-icon [ngStyle]="{ scale: '1' }">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="onUpdate()" mat-menu-item>Update</button>
      <button (click)="onEdit()" mat-menu-item>Edit</button>
      <button (click)="onDelete()" mat-menu-item>Delete</button>
    </mat-menu>
  </mat-card-content>
  <mat-card-content [ngStyle]="{ display: 'flex', gap: '20px' }">
    <ng-container *ngIf="!loading(); else loadingDetails">
    <p><b>Last update: </b>{{ lastScrapeDate }}</p>
    <p><b>Total reviews: </b>{{ apartment.reviewsCount }}</p>
    <p>
      <b>Average: </b>{{ apartment.reviewsRatingAverage | number : '1.1-5' }}
    </p>
  </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #loadingRatingAverage>
  <mat-spinner
    style="height: 40px; width: 40px; margin-left: 30px"
    aria-label="Loading rating average..."></mat-spinner>
</ng-template>

<ng-template #loadingDetails>
  <p><b>Last update: </b>---</p>
  <p><b>Total reviews: </b>---</p>
  <p><b>Average: </b>---</p>
</ng-template>

<!-- 
  <p><b>Last update: </b>{{ loading() ? '---' : lastScrapeDate }}</p>
    <p>
      <b>Total reviews: </b>{{ loading() ? '---' : apartment.reviewsCount }}
    </p>
    <p>
      <b>Average: </b
      >{{
        loading() ? '---' : (apartment.reviewsRatingAverage | number : '1.1-5')
      }}
    </p>
   -->
